/*  General page styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins"
}

main {
    flex: 1;
}

/*  styling of header */
header {
    background-color: #008081;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.nav-container a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin: 0 0.5em;
}

.nav-container a:hover {
    color: #00b5b5;
}

/*  styling of footer */
footer {
    background-color: #008081;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.copyright {
    color: white;
    font-size: 0.8em;
}

.footer-container a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin: 0 1em;
}

.fa-brands {
    color: white;
    font-size: 1.5em;
}

.fa-brands:hover { 
    color: #00b5b5; 
}

/*  styling of hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em 2em 0.5em 2em;
}

/*  styling of information section */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em 2em 0.5em 2em;
}

/*  styling of cards */
.card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em 2em 0.5em 2em;
}

.card {
    width: 300px; 
    height: 200px;
    padding: 1em;
    margin: 1em;
    border: 2px solid #008081;
}

/*  styling of blog posts */
.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
}

/*  styling of text elements */
h1 {
    color: #008081;
    font-size: 2em;
    margin: 0.05em 0;
}

h2 {
    color:#00b5b5; 
    font-size: 1.2em;
    margin: 0.05em 0;
}

h3 {
    color:#00b5b5; 
    font-size: 1em;
    margin: 0.05em 0;
}

p {
    font-size: 0.9em;
    margin: 0.2em 0;
}

p.small {
    font-size: 0.7em;
    margin: 0.2em 0;
}

ul {
    font-size: 0.9em;
}

a {
    font-size: 0.9em;
}

/*  styling of buttons */
.button {
    background-color: white;
    color:#008081;
    font-size: 1em;
    padding: 0.5em 0.8em;
    margin: 0.9em 0;
    border: 0.2em solid #008081;
    text-decoration: none;
}

.button:hover {
    background-color: #00b5b5;
    color: white;
}

/*  styling of images */
img {
    margin: 0.5em 0.5em;
}

/*  styling for desktop */
@media screen and (min-width: 1025px) {
    .hero {
        display: block;
        width: 100%;
        justify-content: left;
    }

    .hero img {
        max-width: 20rem;
        border-radius: 50%;
        float: left;
        padding: 0.8rem 0.8rem 0.8rem 1.2rem;
        margin-right: 0.7rem;
        width: 60%;
    }

    h1 {
        color: #008081;
        font-size: 4em;
        margin: 1 1;
    }
    
    h2 {
        color:#00b5b5; 
        font-size: 2em;
        margin: 1 1;
    }
    
    h3 {
        color:#00b5b5; 
        font-size: 2em;
        margin: 1 1;
    }
    
    p {
        font-size: 1em;
        margin: 1 1;
    }
    
    p.small {
        font-size: 0.7em;
        margin: 0.2em 0;
    }
    
    ul {
        font-size: 0.9em;
    }
    
    a {
        font-size: 0.9em;
    }

    .button {
        background-color: white;
        color:#008081;
        font-size: 1.5em;
        padding: 0.5em 0.8em;
        margin: 1 1 1 1
        border: 0.2em solid #008081;
        text-decoration: none;
    }
    
    .button:hover {
        background-color: #00b5b5;
        color: white;
    }
    

/*  styling for tablet */
@media screen and (min-width: 768px) {
    main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    }
}

.blog-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;   
}

